* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  background-color: rgb(71, 71, 71);
  color: white;
}

.texto-inicial {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.div-imagens {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.div-imagens div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 220px;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 0px 44px 10px #868686;
}
hr {
  width: 20%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

