body {
    margin: 0;
    background-color: rgb(130, 254, 254);
    text-align: center;
}
#Titulo {
    font-size: 50px;
    font-weight: 700;
}
#div-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    width: 200px;
    height: 200px;
}

.pokemon {
background-color: rgb(241, 238, 234);
width: 250px;
border: 5px black solid;
border-radius: 10px;
text-align: center;
margin: 10px;
padding: 10px;
}