div:hover {
    border: 2px solid rgb(0, 0, 0);
}

div:nth-of-type(1) h3:nth-child(1){
    color: blue;
    background-color: aqua;
}

div:nth-of-type(2) h3:nth-child(1){
    color: green;
    background-color: rgb(202, 201, 128);
}

div:nth-of-type(3) h3:nth-child(1){
    color: rgb(228, 22, 235);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100px;
}

div:nth-of-type(4) h3:nth-child(1){
    color: rgb(148, 3, 3);
    background-color: rgb(0, 255, 76);
}

div:nth-of-type(5) h3:nth-child(1){
    color:yellow;
    background-color: rgb(62, 0, 133);
}

div:nth-of-type(2n+1){
font-style: italic ;
}

