html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }


/* Mobile First */

@media screen and (max-width:500px){
  body {
    background-color: antiquewhite;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header section {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
  }

 nav ul {
  display:flex;
  flex-direction: column;
  justify-content: center;
  }
  
  ul li {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
  }

  .aside-one {
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-align: center;
  }

  ul li {
    margin-left: 20px;
    font-size: 18px;
    margin-top: 10px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
  }
  .main-content h1 {
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
  }
  footer h3 {
    text-align: center;
  }
}


@media screen and (min-width:501px) and (max-width:770px){
  body {
    font-size: 18px;
    background-color: rgb(154, 248, 234);
    margin-bottom: 20px;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header section {
    padding: 17px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-size: 22px;
  }

 nav ul {
  display:flex;
  flex-direction: column;
  justify-content: center;
  }

  ul li {
    margin-left: 20px;
    margin-top: 10px;
  }

  .aside-one {
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-align: center;
    font-size: 28px;
  }

  ul li {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
  }
  .main-content h1 {
    text-align: center;
    font-size: 25px;
  }

  footer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-size: 15px;
  }
  footer h3 {
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (min-width:771px){
  body {
    font-size: 20px;
    background-color: rgb(0, 0, 0);
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header section {
    text-align: center;
    background-color: rgb(121, 0, 0);
    color: aliceblue;
  }
  
  .divisor-conteudo {
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start


  }

 nav ul {
  color: aliceblue;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin-right: 5%;
  }

  nav ul li {
    font-size: 25px;
    font-weight: bold;
    list-style-type: none;
  }

  ul li {
    margin-left: 20px;
    font-size: 20px;

  }

  .aside-one {
    margin-right: 20px;
    border: 2px solid black;
    margin-top:20px;
    background-color: rgb(233, 221, 214);
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .aside-two {
    border: 2px solid black;
    margin-top: 20px;
    background-color: rgb(233, 221, 214);
    display: flex;
    flex-direction: column;
    width: 30%;
    order: 2;
    margin-left: 20px;
  }

  h2 {
    text-align: center;
  }

  ul li {
    margin-left: 20px;
    font-size: 18px;
    margin-top: 10px;
  }

  .main-content {
    border: 2px solid black;
    order: 1;
    padding: 10px 30px 10px 30px;
    background-color: rgb(233, 221, 214);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    
  }
  .main-content h1 {
    text-align: center;
  }

  footer {
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    background-color: rgb(233, 221, 214);
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
  footer h3 {
  }
}



