/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
      font-size: 100%;
      margin:30px;
  }
  
  article {
    font-size: 20px;
    text-align: justify;
  }
  
  h1 {
    font-size: 25px;
    text-align: center;
  }
  
  h2 {
    font-size: 23px;
    text-align: center;
  }
  
  img {
      max-width: 100%;
      margin:10px auto;
  }
  
  main {
      display: flex;
      flex-direction: column;
  
  }
  
  section {
  display: flex;
  flex-direction: column;
  }
  
  figure {
    text-align: center;
    flex-basis: 35%;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width:800px) {
      body {
          background-color: aqua;
      }

      h1 {
        font-size: 35px;
      }
      
      h2 {
        font-size: 30px;
      }

      article {
        font-size: 25px;
      }

      section {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content:center;
          
      }

      section figure {
          flex-basis: 35%;
      }
  }

  @media screen and (min-width:1300px) {
    body {
        background-color: rgb(234, 255, 127);
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        
    }

    h1 {
        font-size: 50px;
    }
      
    h2 {
        font-size: 45px;
    }
    
    section {
        flex-direction: row;
        justify-content: space-around;
    }

    figure {
        text-align: center;
        flex-basis: 50%;
      }

  }