body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(175, 175, 175);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgb(45, 45, 45);
    border-radius: 15px;
    color: white;
    padding:15px;
}

header {
text-align: center;
}
h1{
    color: rgb(228, 255, 107);
    font-weight: bold;
}

#data {
    width: 20%;
}

.form-label{
    font-size: 20px;
}
