  .super-mario {
    width: 200px;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 2;

  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 60px;
    z-index: 1;
  }
  
  .baloon {
  position: absolute;
  top: 60px;
  left: 300px;
  z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 100px;
    left: 320px;
    z-index: 4;
  }
  
  .bowser {
    position: absolute;
    top: 120px;
    left: 560px;
    width: 350px
  }