h1 {
    font-size:  65px;
    color: orange;
    font-family: sans-serif;
}

li {
 background-color: aquamarine;  
 font-style: italic;

}

.nao-ordenada {
    background-color: blueviolet;
}

p{
    font-weight: 600;
    font-size: 3em;
    text-decoration:underline;
}

body {
    font-size: 16px;
    line-height: 50px;
    text-align:center;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}